#anchorPane {
    -fx-background-color: linear-gradient(to bottom, #F3F8FF, #FFDFDF);
}

/* Styles for HBox */
#hboxHeader {
    -fx-background-color: linear-gradient(to right, rgba(5, 237, 251, 1), rgba(31, 248, 153, 1)); 
}

/* CSS Button */
#btnContrast {
    -fx-background-color: #000000;
    -fx-text-fill: #c8d0da;
}

#btnMarket,
#btnBlogAndTwitter,
#btnHome {
	-fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

#btnBlogAndTwitter:hover,
#btnMarket:hover,
#btnHome:hover {
    -fx-background-color: #000000;
    -fx-text-fill: #c8d0da;
    -fx-cursor: hand; 
}