#anchorPane {
    -fx-background-color: linear-gradient(to right, white, #31304D);
}

/* CSS Button */
#btnBlogAndTwitter {
    -fx-background-color: #000000;
    -fx-text-fill: #c8d0da;
}

#btnMarket,
#btnContrast,
#btnHome {
	-fx-background-color: linear-gradient(to right, rgba(5, 237, 251, 1), rgba(31, 248, 153, 1));
    -fx-text-fill: black;
    -fx-opacity:0.8;
    -fx-cursor: hand;
}

#btnContrast:hover,
#btnMarket:hover,
#btnHome:hover {
    -fx-background-color: #000000;
    -fx-text-fill: #c8d0da;
    -fx-cursor: hand; 
}



.button {
    -fx-background-color: rgba(40, 70, 100, 0.8);
    -fx-text-fill: white; 
}

.choice-box {
    -fx-background-color: rgba(40, 70, 100, 0.8);
    -fx-mark-color: white;
}

.choice-box .label {
    -fx-text-fill: white;
    -fx-background-color: rgba(40, 70, 100, 0.8);
}

.article-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: rgba(40, 70, 120, 0.8); 
}

.article-date {
   
}

.article-content {
    -fx-font-style: italic; 
    -fx-font-size: 12px; 
}

.tag-label{
	
}

.tweet-author{
	-fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: rgba(40, 70, 120, 0.8); 
}

.tweet-content {
	-fx-font-style: italic; 
    -fx-font-size: 12px;
}

