#anchorPane {
    -fx-background-color: linear-gradient(to right, white, #31304D);
}

/* CSS Button */
#btnMarket {
    -fx-background-color: #000000;
    -fx-text-fill: #c8d0da;
}

#btnBlogAndTwitter,
#btnContrast,
#btnHome {
	-fx-background-color: linear-gradient(to right, rgba(5, 237, 251, 1), rgba(31, 248, 153, 1));
    -fx-text-fill: black;
    -fx-opacity:0.8;
    -fx-cursor: hand;
}

#btnBlogAndTwitter:hover,
#btnContrast:hover,
#btnHome:hover {
    -fx-background-color: #000000;
    -fx-text-fill: #c8d0da;
    -fx-cursor: hand; 
}

/* CSS Combobox */
.combo-box {
	-fx-cursor: hand; 
    -fx-font-size: 14px;
    -fx-background-color: transparent; 
}

.combo-box .arrow {
    -fx-background-color: #000000;
}

.combo-box .arrow-button {
    -fx-background-color: #13f3c9;
}

.combo-box:showing .list-cell, .combo-box:hover .list-cell {
    -fx-background-color: #000000;
    -fx-text-fill: #13f3c9;
}

.combo-box .list-cell  {
    -fx-background-color: #13f3c9;
    -fx-text-fill: #000000;
}

.combo-box .list-view {
    -fx-background-color: #000000;
}

.combo-box .list-view .list-cell {
	-fx-cursor: hand; 
    -fx-background-color: #000000;
    -fx-text-fill: #c8d0da;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #000000;
    -fx-text-fill: #13f3c9; 
}

/* CSS Table - view */
.table-view {
    -fx-control-inner-background: transparent ;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to right, #0EA293, #27E1C1);
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: linear-gradient(to right, #2D9596, #0E8388);
    -fx-text-fill: black;
}

.table-row-cell:odd {
    -fx-background-color: linear-gradient(to right, #5C8374, #2E4F4F); /* Alternate background color for odd rows */
}

.table-row-cell:selected {
    -fx-background-color: #000000;
}

.table-cell {
    -fx-alignment: CENTER;
}